form {
    width: 850px;
    margin: auto 20rem auto 25rem;
}

legend {
    color: rgba(165, 42, 42, 0.884);
    font: 1rem verdana;
    font-weight: bold;
}

p {
    color: rgba(165, 42, 42, 0.767);
    font: 1rem verdana;
    font-weight: bolder;
}

fieldset {
    border: 2px solid rgba(165, 42, 42, 0.767);
    margin: 20px;
}

fieldset #sexo {
    width: 250px;
    font: 1.3rem verdana;
}

input.btn {
    background-color: rgb(247, 247, 243);
    color: rgba(165, 42, 42, 0.767);
    padding: 7px;
    margin: 5px;
    font: 1.3rem verdana;
    border: none;
}

input.btn:hover {
    background-color: rgba(165, 42, 42, 0.767);
    color: rgb(247, 247, 243);
}

fieldset#usuario {
    background: url("imagens/icon-contato.png") no-repeat 95% 95%;

}

fieldset#endereco {
    background: url("imagens/icon-endereco.png") no-repeat 95% 95%;

}

fieldset#mensagem {
    background: url("imagens/icon-mensagem.png") no-repeat 95% 95%;

}